.con {
  text-align: center;
  letter-spacing: 15px;
  margin: 2rem 0;
}
.contact-body {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
  margin-top: 5rem;
}
.studio,
h5 {
  padding: 3rem 0;
}
.socios {
  padding-bottom: 2rem;
}
input {
  width: 30%;
  border-style: none;
  border-radius: 6px;
  padding: 0.3rem 0;
}
.text {
  width: 30%;
  border-radius: 6px;
  border-style: none;
}
.btn {
  width: 30%;
}
